<footer class="center-align valign-wrapper">
    <div class="container ">
        <div class="row">
            <div class="col s12">
                <a href="#">GitHub Repository</a>
            </div>
        </div>
    </div>
</footer>