<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">WEB NEWS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/savedarticles">Saved Articles</a></li>
            <li><a href="/scrape" data-button="scrape" class="waves-effect waves-light btn">New Articles</a></li>
        </ul>
    </div>
</nav>