/* HEADER STYLES */
header {
    background: url("../images/code-header.jpg");
    height: 600px;
}
nav {
    background: rgb(47, 61, 79);
}
.title-wrap {
    margin-top: 200px;
    padding: 1rem;
    background: rgba(47, 61, 79, .8);
    color: white;
}
.btn {
    background: rgb(118, 233, 118);
}
.btn:hover, .btn:active, .btn:focus {
    background: rgb(97, 196, 97);
}

/* FOOTER STYLES */
footer {
    background: rgb(47, 61, 79);
}

/* Flexbox Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(232, 234, 236);
  }
  main {
    flex: 1 0 auto;
  }
